//*COLOURS//
$main-text-color: white;
$accent-color: #5474FD;
$main-color: white;
$accent-color-blue: darkblue;

//*FONTS//
$main-text-font: 'Josefin Sans', sans-serif;
$main-text-font-2: 'FontAwesome'; 
$accent-text-color: #999999;