@import 'partials';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,
button,
input,
textarea,
select {
    all: unset;
}

ul,
li {
    list-style-type: none;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 1800px;
    justify-content: center;
    align-items: center;
}

.page-1 {
    max-width: 1800px;
    width: 100vw;
    height: 45vw;
    background-image: url(../Images/Background/bigmountains.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-1 {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;

    .text1 {
        font-family: $main-text-font;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 26px;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        color: $main-text-color;
        display: flex;
    }

    .text2 {
        font-family: $main-text-font;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 6.82px;
        color: $main-text-color;
        display: flex;
    }
}

.search-bar {
    display: flex;
    margin-top: 48px;
    margin-bottom: 5vw;

    .search-bar-box {
        width: 503px;
        height: 63px;
        background-color: $main-color;
        font-family: $main-text-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 2.8px;
        color: $accent-text-color;
        text-align: center;
    }

    .search-bar-btn {
        width: 153px;
        height: 60.5px;
        background-color: $accent-color;
        border: 1px solid $main-color;
        font-family: $main-text-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: $main-text-color;
        cursor: pointer;
    }

    .search-bar-btn:hover {
        color: $accent-color-blue;
    }
}

.scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;


    .scroll-btn {
        font-family: $details-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 2.8px;
        color: $main-text-color;
        cursor: pointer;
    }

    .scroll-btn:hover {
        text-shadow: 2px 0 5px $main-color;
    }

    .arrow {
        width: 17px;
        height: 11px;
    }
}

.nav-bar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    width: 100vw;
    height: 83px;
    background-color: $accent-color;

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .nav-item {
        font-family: $details-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: $main-color;
    }
}

.page-2 {
    max-width: 1800px;
    width: 100vw;
    height: 38vw;
    background-image: url(../Images/Background/sunsetview.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    .page-2-container {
        width: 560px;
        height: 158px;
        margin-top: 10vw;
        margin-left: 18.5vw;

        .title {
            font-family: $details-font;
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 26px;
            display: flex;
            align-items: center;
            color: $main-text-color;
        }

        .info {
            font-family: $main-text-font;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            display: flex;
            align-items: center;
            letter-spacing: 1.6px;
            color: #E8E8E8;
            margin-top: 50px;
        }

        .explore-btn {
            width: 228px;
            height: 63px;
            background-color: $accent-color;
            font-family: $details-font;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            display: flex;
            align-items: center;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            color: $main-text-color;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 45px;
        }
    }

    .images {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
    }
}

.icons-container {
    width: 100vw;
    height: 340px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-3 {
    max-width: 1800px;
    width: 100vw;
    height: 39vw;
    background-image: url(../Images/Background/Spainbuilding.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.page-4 {
    max-width: 1800px;
    width: 100vw;
    height: 39vw;
    background-image: url(../Images/Background/spainseaview.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.page-5 {
    max-width: 1800px;
    width: 100vw;
    height: 731px;
    background-image: url(../Images/Background/manonthemountain.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.footer {
    width: 100vw;
    height: 271px;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
}